#headers {
    font-family: 'Anton', sans-serif;
    text-align: center;

}
h1 {
    font-size: 50px;
    color: white;
    background-color: rgba(56, 168, 50, 1);
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-size: 30px;
    color: white;
    background-color: rgb(71, 113, 134);
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#imageDisplay {
    /*margin-left: 150px*/
    display: flex;
    justify-content: space-around;
}

#imageDisplay div {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

button {
    display: block;
    color: rgb(37, 81, 94);
    border: 2px rgb(95, 174, 87)d solid;
    height: 25px;
    width: 70px;
    border-radius: 7px;
}

#voteHere {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(71, 113, 134);
}

p {
    text-align: center;
    color: white;
    font-size: 20px;
}

#resultsChart {
    margin-left: auto;
    margin-right: auto;
}


