#headers {
    font-family: 'Anton', sans-serif;
    color: darkblue;
    text-align: center;

}
h1 {
    font-size: 50px;
    background-color: rgb(95, 174, 87);
}

h2 {
    font-size: 30px;
    background-color: rgb(146, 209, 139);
}

#imageDisplay {
    margin-left: 150px;
}

div {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(71, 113, 134);
}

p {
    text-align: center;
    color: white;
    font-size: 20px;
}

#resultsChart {
    margin-left: auto;
    margin-right: auto;
}


